.card-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: calc(33.33% - 32px);
  text-align: center;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card img {
  max-width: 100%;
}


form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-bottom: 16px;
  max-width: 100%;
  width: 400px;
}





@media screen and (max-width: 1023px) {
  .card {
    width: calc(50% - 32px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: calc(100% - 32px);
  }
}

@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}

button[type="submit"] {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  cursor: pointer;
  max-width: 100%;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  button[type="submit"] {
    width: 100%;
  }
}